aside.sidebar {
    position: fixed;  /* mantem fixo esse alemento, mesmo se rolar a página*/
    height: 100%;
    padding: 3.2rem 2.4rem; 
    background: #5A4E97;
    
    display: flex;
    flex-direction: column;     /* ao usar o flex column uma caixa fica abaixo da outra*/ 
    justify-content: space-between;
    align-items: center;    
}

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #98D41E;
    border-radius: 1.6rem;
    cursor: pointer;  /*ao passar a mouse por cimada seta a seta do cursor vira uma mão*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: backgroud-color 0.2s;
}

aside.sidebar footer button:hover {
    background: #5A4E97;
}

.width-sidebar {
    padding-left: 110px;
}
