<!DOCTYPE html>

<html lang="pt_BR">
    <head>
       <meta charset="UTF-8">

       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <title>Localize um orfanato | Happy </title>
       <link rel="icon" href="/static/images/logo-icon.png">

       <link rel="stylesheet" href="/static/css/main.css">
       <link rel="stylesheet" href="/static/css/cardDetail.css">
       <link rel="stylesheet" href="/static/css/animations.css">

       <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
       
    </head>

    <body>
        <div id="page-orphanages">
            <aside class="animate-right sidebar">
                <header>
                    <img src="/static/images/map-marker.svg" alt="Happy">
                    <h2>Veja mais detalhes do seu cartão</h2>
                    <p>Com a maisTodos fica muito mais fácil fazer suas consultas.</p>
                </header>
                
                <footer>
                  <strong>Ribeirão Preto</strong>
                  <span>São Paulo</span>
                  <button onclick="history.back()">
                      <img src="/static/images/arrow-back.svg" alt="Voltar">
                  </button>
                </footer>

            </aside>

              <div id="credit_card_id" class="animate-appear">

                  <table style="width:100%">
                    <thead>
                     <tr>
                       <th>Data de vencimento</th>
                       <th>Titular do cartão</th>
                       <th>Número do cartão</th>
                       <th>CVV</th>
                     </tr>
                    </thead>
                    <tbody>

                        {% for data in dados %}
                          <tr>
                              <td>{{ data[1] }}</td>
                              <td>{{ data[2] }}</td>
                              <td>{{ data[3] }}</td>
                              <td>{{ data[4] }}</td>
                          </tr>
                        {% endfor %}

                    </tbody>
                  </table>

              </div>

        </div>

    </body>
</html>
